.col-md-6.col-md-offset-3
  .edit-book-form
    %h1 Edit User
    = simple_form_for @user, html: { multipart: true } do |f|
      = f.input :email, readonly: true
      = f.input :role_user, as: :select, collection: User.role_users.keys.to_a, include_blank: false
      = f.button :submit
